.wrapper{
    text-align: center;
    display: grid;
    grid-template-rows: 80px auto auto 2px;
}
a{
    color: black;
    text-decoration: none;
    align-items: stretch;
}
ul{
    list-style-type: none;
}
header{
    display: grid;
    border: 1px black solid;
    grid-template-columns: auto 1fr;
}
header>a>img{
    margin:0;
    width: 2em;
}
nav{
    border: black solid 1px;
}
nav>ul{
    padding-left:0;
}
section{
    border: black solid 1px;
}
ul>li{
    border: black solid 1px;
}
footer{
    border: black solid 1px;
}
main{
    border: black solid 1px;
    border-collapse: collapse;
}
form{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
form>section{
    border:none;
    border-bottom: black solid 1px;
    padding: 1em;
}
.tack{
    border: black solid 1px;
    border-radius: 20px;
    font-size: 2em;
    width: 50%;
    margin-left: 25%;
}
@media (min-width:800px) {
    header>a>img{
        align-items: center;
        width: 4em;
    }
    nav>ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #trespalt{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
